.txt{
    width: 300px;
    height: 200px;
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;

}
h1{
    font-size: 60px;
    font-weight: bold;
    margin: 50px 35px;
    text-shadow: 7px 3px 0px rgba(250, 249, 249, 0.5),10px 6px 0px rgba(250, 249, 249, 0.5)
    ;}