@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container .navbar {
  width: 100%;
  height: 80px;
  background-color: rgba(22, 112, 215, 0.4);
}

.navbar .logo {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

.navbar .logo a {
  text-decoration: none;
  /*yuxaridaki none kodu yazinin alitindaki mavi xetti silir. */
  font-size: 30px;
  font-family: sans-serif;
  /* burdaki sans-serif kod deyill font adidir. istediyin fontu qoya bilersen ferqi yoxdu*/
  color: #f2f2f2;
}

ul li:hover {
  background-color: rgba(161, 59, 230, 0.4);
  transition: 0.6s;
  height: 10vh;
}

.navbar ul {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.navbar ul li {
  list-style: none;
  /*list style ise ul icinde olanlar var e qeydiyyat fln onlarin qabagindaki noqteleri silir.*/
  display: inline-block;
  margin: 0 8px;
}

.navbar ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 13px;
  font-family: Roboto;
}

.active,
.navbar ul li .navbar ul li a:hover {
  background: #ff6e00;
}

.bolgeler ul li:hover {
  background-color: rgba(161, 59, 230, 0.4);
  transition: 0.6s;
  height: 6.9vh;
}

#dp-bolge {
  background-color: rgba(22, 112, 215, 0.4);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: -15px;
}

.bolgeler:hover #dp-bolge {
  display: block;
}

#dp-abs {
  background-color: rgba(173, 216, 230, 0.726);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.abs:hover #dp-abs {
  display: block;
}

#dp-simal {
  background-color: rgba(0, 128, 0, 0.781);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.simal:hover #dp-simal {
  display: block;
}

#dp-cenub {
  background-color: rgba(153, 205, 50, 0.774);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.cenub:hover #dp-cenub {
  display: block;
}

#dp-qerb {
  background-color: rgba(222, 184, 135, 0.76);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.qerb:hover #dp-qerb {
  display: block;
}

#dp-aran {
  background-color: rgba(255, 166, 0, 0.726);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.aran:hover #dp-aran {
  display: block;
}

#dp-seki {
  background-color: rgba(165, 42, 42, 0.719);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.seki:hover #dp-seki {
  display: block;
}

#dp-sirvan {
  background-color: rgba(119, 136, 153, 0.74);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.sirvan:hover #dp-sirvan {
  display: block;
}

#dp-qarabag {
  background-color: rgba(255, 192, 203, 0.699);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.qarabag:hover #dp-qarabag {
  display: block;
}

#dp-naxch {
  background-color: rgba(65, 105, 225, 0.692);
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: 15px;
  margin-left: 120px;
}

.naxch:hover #dp-naxch {
  display: block;
}

.qeyd {
  padding-left: 45%;
  padding-top: 12%;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rebeccapurple;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}